* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

:root {
  --header-height: 64px;
  --footer-height: 32px;
  --round-info-height: 32px;
}

h1 {
  background-color: #504B38;
  color: #F8F3D9;
  font-size: 32px;
  text-align: center;
  height: var(--header-height);
  line-height: var(--header-height);
}

.game {
  display: flex;
  height: calc(100vh - var(--header-height));
  flex-direction: column;
  background-color: #F8F3D9;
  justify-content: center;
  gap: 64px;
}

.round-info {
  font-size: 32px;
  text-align: center;
  color: #504B38;
  font-weight: 700;
}

.selections-container {
  display: flex;
  flex-wrap: wrap;
  gap: 64px; 
  align-items: center;
  justify-content: center;
}

.human-section, .computer-section {
  background-color: #504B38;
  color: #EBE5C2;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px;
  border: solid 5px #B9B28A;
  border-radius: 16px;
}

.computer-section {
  --highlight-color: #ae6969;
}

.human-section {
  --highlight-color: #69ae6f;  
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.options {
  display: flex;
  gap: 8px;
}

.option img {
  width: 100px;
  height: 100px;
}

.option {
  background-color: #5a5645;
  border-radius: 16px;
  border: solid 5px #B9B28A;
}

.computer-section .option{
  filter: brightness(0.75);
}

.highlighted {
  border: solid 5px var(--highlight-color);
}

.computer-section .highlighted{
  filter: brightness(1);
}